@use "../../styles/style.scss" as *;

.farmacy-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.search {
  &__input {
    width: 100%;
    border-radius: 15px;
    padding: 5px 10px;
  }
}

.filter-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter {
  @include listReset();
  @include item();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $text;
  padding: 10px;
  gap: 10px;
}

.farmacy {
  @include listReset();
  @include flexible();
  flex-direction: column;
  width: 100%;
  color: $text;
  gap: 10px;
  &__item {
    @include flexible();
    @include item();
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
  &__content {
    @include listReset();
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tags {
  @include listReset();
  @include flexible();
  gap: 5px;
  flex-wrap: wrap;
}

.medicine-descr {
  &__name {
    font-weight: bold;
  }
}
